@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NotoSansThai"; 
  src: url("./assets/fonts/Noto_Sans_Thai/NotoSansThai-VariableFont_wdth,wght.ttf") format("truetype"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kanit"; 
  src: url("./assets/fonts/Kanit/Kanit-Regular.ttf") format("truetype"); 
  font-weight: normal;
  font-style: normal;
}
 
* {
  font-family: 'NotoSansThai', Arial, sans-serif;
}